asgiref
contourpy
cycler
django
djangorestframework
fonttools
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
rdkit-pypi
seaborn
six
sqlparse
typing-extensions
tzdata
gunicorn
