asgiref
contourpy
cycler
django
djangorestframework
fonttools
kiwisolver
matplotlib
numpy==1.23.5
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
seaborn
six
sqlparse
typing-extensions
tzdata
gunicorn
rdkit==2023.03.1
whitenoise

