{% load static %}
{% load custom_filters %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Property</th>
      <th scope="col">Median</th>
      <th scope="col">Count</th>
      <th scope="col">CV <i class="fa-solid fa-circle-info" style="color: #3e931f;" title="Coef. of Variation. CV = standard deviation / mean. The lower the CV, the lower the level of dispersion around the mean. "></i>
      </th>
      <th scope="col">Score <i class="fa-solid fa-circle-info" style="color: #3e931f;" title="Score = Median +/- CV. This score is particularly useful to identify BBs that not only have a desirable median value but also a consistent distribution around that value."></i>
      </th>
      <th scope="col">Plot</th>
      <th scope="col">MMPs</th>
      <th scope="col">Combos</th>
    </tr>
  </thead>
  <tbody>
    {% for b in ppties_bb_df.itertuples %}
    <tr>
      <td>{{b.property}}</td>
      {% if b.median %}
        <td style="background-color: {{ b.median|color_for_property:b.property }};">{{b.median|floatformat:2}}</td>
      {% else %}
        <td></td>
      {% endif %}
      <td style="background-color: {{b.count|color_for_property:'bb_count'}};">{{b.count}}</td>
      <td>{{b.cv|floatformat:2}}</td>
      <td>{{b.score|floatformat:2}}</td>
      <td><a href="{% url 'display_duo_swarmPlot' bb.bb_id b.property %}">Swarm Plot</a></td>
      <td><a href="{% url 'generate_mmps' %}?bb_id={{ bb.bb_id }}&property={{ b.property }}">MMPs</a></td>
      <td><a href="{% url 'generate_combos' %}?combo=Trio&property={{ b.property }}&bb_id={{bb.bb_id}}">Trio</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>