{% extends "projects/base.html" %}

{% block content %}
<div class="media-body">
  <div class="row mb-3">
    <div class="col-md-9">
      <h3 class="mr-2">Molecules Results</h3>
      <hr>
      <ul class="nav nav-tabs" id="moleculesTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="molListView-tab" data-bs-toggle="tab" href="#molListView" role="tab"
            aria-controls="molListView" aria-selected="true">List View</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="molGridView-tab" data-bs-toggle="tab" href="#molGridView" role="tab" aria-controls="molGridView"
            aria-selected="false">Grid View</a>
        </li>
      </ul>
      <div class="tab-content" id="moleculesTabsContent">
        <div class="tab-pane fade show active" id="molListView" role="tabpanel" aria-labelledby="molListView-tab">
          {% include 'molecules/_mols_ppties_table.html' %}
        </div>
        <div class="tab-pane fade" id="molGridView" role="tabpanel" aria-labelledby="molGridView-tab">
          {% include 'molecules/_mols_ppties_grid.html' %}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h3 class="mr-2">Molecules Filters</h3>
        <hr>
        {% include 'molecules/_mols_filters_canvas.html' %}
    </div>
  </div>
</div>
{% endblock content %}